$c-background-primary: #ffffff;
$c-background-secondary: #F0F0F0;
$c-primary: #000000;
$c-accent: #cda792;
$c-text-disabled: #b3b1b1;
$c-text-light: #ffffff;
$c-border: #d1c7c2;
$c-header: #000000;
$c-footer: #000000;

$font-default: 'Open Sans', sans-serif;
$font-special: 'Raleway', sans-serif;

$spacer: 1rem;
$spacer-quarter: calc($spacer / 4);
$spacer-half: calc($spacer / 2);
$spacer-double: calc($spacer * 2);
