/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


$c-background-primary: #ffffff;
$c-background-secondary: #F0F0F0;
$c-primary: #000000;
$c-accent: #cda792;
$c-title-light: #ffffff;
$c-text-light: #ffffff;
$c-header: #000000;
$c-footer: #000000;

$font-default: 'Open Sans', sans-serif;
$font-special: 'Raleway', sans-serif;

$spacer: 1rem;
$spacer-quarter: calc($spacer / 4);
$spacer-half: calc($spacer / 2);
$spacer-double: calc($spacer * 2);


body {
    margin: 0;
    font-family: $font-default;
    background-color: $c-background-primary;
}

h1, h3, h4, h5 {
    font-family: $font-special;
    font-weight: normal;
    margin: 0;
}

h2 {
    font-family: $font-special;
    font-weight: bold;
}

h3 {
    margin-bottom: $spacer-double;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.3rem;}
h4 { font-size: 1.1rem; }

:is(h4):first-child {
    margin-top: 0;
}


/*
 ***************************************
            Tlačítko
 ***************************************
*/

.button {
    display: inline-block;
    background-color: $c-background-secondary;
    font-size: 1rem;
    padding: $spacer-quarter $spacer-half;
    border-radius: 3px;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $c-accent;
    }
}


/*
 ***************************************
            Header
 ***************************************
*/

.header{

    display: grid;
    gap: $spacer;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 6rem 1fr;

    grid-template-areas: 
        "header__contact header__contact"
        "header__left header__left"
        "header__menu header__icons";

    &__contact {
        grid-area: header__contact;
        grid-column: span 2;

        background-color: $c-header;
        color: $c-text-light;
        width: 100%;
        font-size: 14px;
        text-align: center;
        padding: $spacer-half $spacer-double;
    }

    &__contact-email {
        margin-right: $spacer;
        color: $c-text-light;

        &:hover,
        &:focus {
            color: $c-accent;
        }
    }

    &__left {
        grid-area: header__left;
        grid-column: span 2;

        min-width: 400px;
        margin-left: $spacer;
        margin-right: $spacer;
        height: 100%;
        display: flex;
        justify-content: left;
        place-content: center;
    }

    &__logo {
        height: 100px;
    }

    &__title {
        margin-left: $spacer-double;
        align-self: center;
    }

    &__icons {
        grid-area: header__icons;
        grid-column: 2;

        align-self: right-top;
    }

    &__icons-menu {
        display: flex;
        list-style: none;
        justify-content: right;
        margin: 0;
        margin-left: $spacer;
        margin-right: $spacer;
        padding: 0;
    }

    &__icons-account {
        margin-right: $spacer;
    }

    &__icons-link {
        text-decoration: none;
        color: $c-primary;

        &:hover,
        &:focus {
            color: $c-accent;
        }
    }

    &__menu {
        grid-area: header__menu;
        margin: 0;
        margin-left: $spacer;
        align-self: center;
    }

    &__menu-togler {
        cursor: pointer;

        &:hover {
            color: $c-accent;
        }
    }

    &__menu-checkbox {
        position: absolute;
        left: -999999px;
        //display: none;
    }

    &__menu-list {
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: $c-background-secondary;
    }

    &__menu-item:not(:last-child) {
        border-bottom: 1px solid $c-accent;
    }

    &__menu-link {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: $c-primary;
        cursor: pointer;
    }

    &__menu-link:hover {
        background-color: $c-accent;
    }

    @media screen and (max-width: 799px) {

        &__menu-checkbox:checked ~ &__menu-list {
            display: block;
        }
    }

    @media screen and (min-width: 800px) {

        display: grid;
        max-width: 100%;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2rem 6rem 3rem;
    
        grid-template-areas: 
            "header__contact header__contact"
            "header__left header__icons"
            "header__menu header__menu";
    
        &__contact {
            width: 100%;
            grid-area: header__contact;
            grid-column: span 2;
            text-align: right;
        }

        &__left {
            grid-area: header__left;
            align-self: center;
            justify-self: start;
        }

        &__icons {
            grid-area: header__icons;
            margin-right: $spacer;
            align-self: end;
            justify-self: end;
        }

        &__menu-togler {
            display: none;
        }

        &__menu {
            margin: 0;
            margin-left: $spacer;
            margin-right: $spacer;
            align-self: center;
        }

        &__menu-list {
            display: flex;
            list-style: none;
            justify-content: center;
            margin: 0;
            padding: 0;
            background-color: $c-background-primary;
        }

        &__menu-item:not(:last-child) {
            border-bottom: 0px solid $c-accent;
        }

        &__menu-item:not(:last-child) {
            border-right: 0.5px solid $c-accent;
        }

        &__menu-link {
            text-decoration: none;
            padding: $spacer-half $spacer;
            color: $c-primary;

            &:hover,
            &:focus {
                background-color: $c-accent;
            }
        }
    }

    @media screen and (min-width: 1100px) {

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2rem 3rem 3rem;
    
        grid-template-areas: 
            "header__contact header__contact"
            "header__left header__icons"
            "header__left header__menu";

        &__left {
            grid-area: header__left;
            grid-row: span 2;
            justify-self: start;
        }

        &__logo {
            align-self: center;
        }

        &__menu {
            margin: 0;
            margin-right: $spacer;
            align-self: center;
            justify-self: end;
        }
    }
}

/*
 ***************************************
            Main - Úvod
 ***************************************
*/

.main {

    margin: 0;
    margin-left: $spacer;
    margin-right: $spacer;



    &__slider {
        width: 100%;
        height: 10rem;
        border: 1px solid black;
        margin-top: $spacer-double;
    }

    &__text {
        text-align: center;

        &--center,
        &--right {
            margin: 0;
        }

        &--center:first-child {
            margin-top: $spacer-double;
        }

        &--right:nth-child(2) {
            margin-top: $spacer-double;

        }

        &--center:not(:last-child),
        &--right:not(:last-child) {
            margin-bottom: $spacer;
        }

        &--center:last-child {
            margin-bottom: $spacer-double;
        }
    }

    &__galerie {

        display: grid;
        max-width: 100%;
        gap: $spacer;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
        grid-template-areas: 
            "main__foto"
            "main__foto"
            "main__foto";

        place-items: center;
    }

    &_galerie:first-child {
        margin-top: $spacer-double;
    }

    &__story {
        display: grid;
        max-width: 100%;
        gap: $spacer;
    
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        
        grid-template-areas: 
                "main__story-foto"
                "main__text";

        place-items: center;

        margin-top: $spacer-double;
        margin-bottom: $spacer-double;
    }

    &__text-title {
        margin-top: $spacer;
    }

    &__story-foto {
        max-width: 100%;
        margin-top: $spacer-double;
        align-content: center;
        justify-content: center;
    }

    @media screen and (min-width: 800px) {

        &__galerie {

            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        
            grid-template-areas: 
                "main__foto main__foto main__foto";
        }

        &__story {

            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        
            grid-template-areas: 
                "main__foto main__foto main__foto";
        }
    }

}


/*
 ***************************************
            Footer
 ***************************************
*/

.footer {

    display: grid;
    min-width: 100%;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2rem;

    grid-template-areas: 
        "footer__information footer__contacts"
        "footer__copyright footer__copyright";

    &__information {
        grid-area: footer__information;
        background-color: $c-footer;
        color: $c-text-light;
        padding: $spacer $spacer;
    }

    &__contacts {
        grid-area: footer__contacts;
        background-color: $c-footer;
        color: $c-text-light;
        padding: $spacer $spacer;
    }

    &__list-item {
        list-style: none;
    }

    &__list-link {
        text-decoration: none;
        color: $c-text-light;

        &:hover,
        &:focus {
            color: $c-accent;
        }
    }

    &__copyright {
        background-color: $c-background-secondary;
        color: $c-accent;
        width: 100%;
        font-size: 14px;
        text-align: center;
        padding: $spacer-half $spacer-double;

        grid-area: footer__copyright;
        grid-column: span 2;
    }
}

/*
 ***************************************
            Products
 ***************************************
*/

.products {

    margin-bottom: $spacer;

    &__title {
        margin: $spacer-double 0;

        text-align: center;
        align-self: center;
    }

    &__gallery {

        display: grid;
        gap: $spacer;

        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    &__box {
        position: relative;
        min-width: 300px;
        height: 470px;
        background-color: $c-background-primary;
        border: 1px solid $c-background-secondary;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        transition: all 0.4s;
    }

    &__box:hover {
        box-shadow: 0 6px 15px rgba(72, 52, 212, 0.15);
        transform: translateY(-3px);
    }
        
    &__foto {
        height: 300px;
        position: relative;
        padding: 10px;
    }

    &__foto-img {
        display: block;
        width: 280px;
        margin: 0 auto;
        border: 0.5 solid $c-accent;
        border-radius: 5px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    }

    &__details {
        padding: $spacer;
	    text-align: center;
    }

    &__name-link {
        text-decoration: none;
        color: $c-primary;

        &:hover,
        &:focus {
            color: $c-accent;
        }
    }

    &__stock {
        font-size: 12px;
    }

    &__price {
        margin: 0 0 $spacer 0;
    }

}


/*
 ***************************************
            Product detail
 ***************************************
*/

.product-detail {

    display: grid;
    gap: $spacer;
    margin-top: $spacer-double;
    margin-bottom: $spacer-double;

    grid-template-columns: 1fr;
    grid-template-rows: 18rem 1fr 8rem;

    grid-template-areas: 
        "product-detail__img"
        "product-detail__box"
        "product-detail__buy";

    &__img {

        justify-self: center;
    }

    &__title {
        text-align: center;
    }

    &__text {
        text-align: center;

        margin: 0;

        &:first-of-type {
            margin-top: $spacer-double;
        }

        &:nth-of-type(n+1),
        &:not(:last-of-type) {
            margin-bottom: $spacer;
        }

        &:last-of-type {
            margin-bottom: $spacer-double;
        }
    }

    &__buy {
        align-self: center;
        text-align: center;
        justify-self: center;
    }

    @media screen and (min-width: 800px) {

        grid-template-columns: 0.7fr 1fr;
        grid-template-rows: 1fr 5rem;

        grid-template-areas: 
            "product-detail__img product-detail__box"
            "product-detail__img product-detail__buy";

    
        &__img {
            grid-area: product-detail__img;
            grid-row: span 2;

            align-self: center;
            justify-content: center;
        }

        &__buy {
            display: flex;
            align-content: space-between;
            justify-self: right;
        }

        &__stock {
            align-self: center;
            margin-right: $spacer-double;
        }

        &__price {
            margin: 0;
            align-self: center;
            margin-right: $spacer-double;
        }
    }
}